/src/
/.husky/
/.nyc_output/
/.git/
/.vscode/
/node_modules/
/example/
/tmp/
tsconfig.json
yarn.lock
*.log
.nvmrc
.prettierrc
.prettierignore
.gitignore
.npmignore
.editorconfig
.eslintrc.js
.eslintignore
.eslintconfig