/src/
/.husky/
/.nyc_output/
/.git/
/.github/
/.vscode/
/node_modules/
/example/
/tmp/
/test/
/coverage/
/dist/src/
/dist/example/
/dist/test/
/dist/tsconfig.tsbuildinfo
tsconfig.json
yarn.lock
*.log
.nvmrc
.prettierrc
.prettierignore
.gitignore
.npmignore
.editorconfig
.eslintrc.js
.eslintignore
.eslintconfig